.videoModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: #fff;
  width: 60%;
  max-width: 650px;
  padding: 20px;
  border-radius: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeModal {
  position: absolute;
  top: 25px;     /* desce */
  right: 30px;   /* vai mais para a esquerda */
  width: 36px;
  height: 36px;
  border: none;
  background: rgba(255, 255, 255, 0.85);
  color: #333;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.closeModal:hover {
  background: white;
  transform: scale(1.05);
}

.closeModal:active {
  transform: scale(0.95);
}


.videoPlayer {
  width: 100%;
  height: 360px; 
  object-fit: contain; 
  background: #000;
  border-radius: 8px;
}

.modalTitle {
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

.modalDescription {
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
  margin-top: 4px;
}

/* MOBILE */
@media (max-width: 768px) {
  .modalContent {
    width: 90%;
  }

  .videoPlayer {
    height: 250px;
  }
}
